@use "@/styles/variables" as *;

.header {
  background-color: $dark-text;
  color: $white;
  padding: 1rem;
  position: fixed;
  z-index: 2000;
  width: 100%;
  top:0;

  .nav-links {
    display: flex;
    gap: 1rem;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $gray;
      }
    }
  }

  .mobile-menu {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }

    .mobile-menu {
      display: block;
    }
  }
}
